{{ today }}

<section class="m-6">
  <!-- <div>{{ getDaysInCurrentMonth() }}</div> -->
  <div>{{ currentMonth.toLocaleString('en-US', { month: 'long' }) }}</div>

  <div class="shadow ring-1 ring-black ring-opacity-5 lg:flex lg:flex-auto lg:flex-col">
    <div
      class="grid grid-cols-7 gap-px border-b border-gray-300 bg-gray-200 text-center text-xs font-semibold leading-6 text-gray-700 lg:flex-none">
      @for (day of daysOfTheWeek; track $index) {
        <div class="flex justify-center bg-white py-2">
          <span>{{ day.charAt(0) }}</span>
          <span class="sr-only sm:not-sr-only">{{ day.slice(1, 3) }}</span>
        </div>
      }
    </div>

    <div class="grid grid-cols-7 gap-x-0 gap-y-0">
      @for (day of getDaysInCurrentMonth(); track $index) {
        <div class="p-6">{{ day.name }} {{ day.day }}</div>
      }
    </div>
  </div>
</section>
